@model AccountRegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="text-center">
                <i class="fa-light fa-sushi fa-fw" style="font-size:5em"></i>
            </div>

            <form class="py-5" method="post" action="/@Model.Culture/account/register">
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" required id="floatingText" name="name" placeholder="@Model.Name">
                    <label for="floatingName">@Model.Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="floatingEmail" placeholder="@Model.Email">
                    <label for="floatingEmail">
                        @Model.Email
                    </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="@Model.Password">
                    <label for="floatingPassword">@Model.Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="passwordConfirm" id="floatingConfirmPassword" placeholder="@Model.ConfirmPassword">
                    <label for="floatingConfirmPassword">@Model.ConfirmPassword</label>
                </div>
                <div class="form-check  mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheck">
                    <label class="form-check-label" for="flexCheck">
                        @Model.AgreeToTheTerm
                    </label>
                </div>
                <div class="mb-3 pt-3">
                    <button type="submit" class="btn btn-secondary btn-top btn-lg border-0 rounded-0 w-100">
                        @Model.Register
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

