@using wppBacklog.Areas.Usr.Models
@model UsrTaskDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["OrganizationId"] = Model.Organization.Id;
    ViewData["ProjectId"] = Model.Project.Id;
    ViewData["Culture"] = Model.Culture;
    Layout = "~/Areas/Usr/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="bg-light-color rounded p-2 mb-3 ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/@Model.Culture/organization/@Model.Organization.Id" class="text-dark text-decoration-none">
                        <i class="fa-light fa-building fa-fw"></i> @Model.Organization.Name
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <i class="fa-light fa-sushi fa-fw"></i> <a href="/@Model.Culture/organization/@Model.Organization.Id/project/@Model.Project.Id" class="text-dark text-decoration-none">@Model.Project.Name</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/@Model.Culture/usr" class="text-dark text-decoration-none">
                        <i class="fa-light fa-house-chimney fa-fw"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/@Model.Culture/organization/@Model.Organization.Id/project/@Model.Project.Id/tasks" class="text-dark text-decoration-none">
                        <i class="fa-light fa-list-check fa-fw"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    @Model.Task.Name
                </li>
            </ol>
        </nav>
    </div>

    <!--Header-->
    <div class="mb-3">
        <div class="d-flex justify-content-between">
            <div class="">
                <span class="badge" style="background-color:@Model.Task.TaskType.Color; color:@Model.Task.TaskType.TextColor">
                    @Model.Task.TaskType.Name
                </span>
                <span>@Model.Task.Project.PermaName</span><span>-</span><span>@Model.Task.TaskNum  Url</span>
            </div>
            <div>
                @if (Model.Task.TaskStatus != null)
                {
                    <span class="badge" style="background-color:@Model.Task.TaskStatus.Color; color:@Model.Task.TaskStatus.TextColor">
                        @Model.Task.TaskStatus.Name
                    </span>
                }

                @if (Model.Task.StartFrom > DateTime.MinValue)
                {
                    <span>
                        @Model.Task.StartFrom
                    </span>
                }
                
                @if (Model.Task.EndAt > DateTime.MinValue)
                {
                   <span>- </span>@Model.Task.EndAt
                }

            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="font-xl">
                @Model.Task.Name
            </div>
            <div>

                Watch, Edit, Menu
            </div>
        </div>
    </div>

    <!--Jumbotron-->
    <div class="card card-body">
        <div>
            @Model.Task.CreatedBy @Model.Task.CreatedBy @Model.Task.Created
        </div>
        <div>
            @Model.Description
        </div>
        <div class="row py-3">
            <div class="col-md-6 my-2">
                <table class="table">
                    <tr>
                        <td>
                            Priority
                        </td>
                        <td>
                            @Model.Task.Priority
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Category
                        </td>
                        <td>
                            @Model.Task.TaskCategory
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Version
                        </td>
                        <td>
                            @Model.Task.TaskApplicableVersion
                        </td>
                    </tr>

                </table>

            </div>
            <div class="col-md-6 my-2">
                <table class="table">
                    <tr>
                        <td>
                            Assigned
                        </td>
                        <td>
                            @Model.Task.AssignedPerson
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Milestone
                        </td>
                        <td>
                            @Model.Task.TaskMilestone
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Version
                        </td>
                        <td>
                            @Model.Task.TaskApplicableVersion
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-6 my-2">
                <table class="table">

                    <tr>
                        <td>
                            Expected Time
                        </td>
                        <td>
                            @Model.Task.ExpectedTime
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reason of Completion
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-md-6 my-2">
                <table class="table">
                    <tr>
                        <td>
                            Actual Time
                        </td>
                        <td>
                            @Model.Task.ActualTime
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    @if (Model.TaskLogs != null)
    {
        <div class="card card-body mt-3">
            @foreach (var log in Model.TaskLogs)
            {
                <div class="d-flex border-bottom">
                    <div style="width:50px;">Icon,</div>
                    <div class="w-100">
                        <div class="d-flex justify-content-between">
                            <div>
                                Person Name, @log.Created.ToString("yyyy-MM-dd HH:mm:ss")
                            </div>
                            <div>
                                Actions
                            </div>
                        </div>
                        <div class="p-2">
                            @log.Description
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>
<div class="container-fluid p-3 bg-light-color mt-3" style="border-top:3px solid #000; margin:0;">
    <form action="/@Model.Culture/organization/@Model.Organization.Id/project/@Model.Project.Id/task/@Model.Task.Id/log/upsert" method="post">
        @Html.AntiForgeryToken()
        <div class="row ms-2">
            <div class="col-md-8">
                <label>
                    Comment
                </label>
                <textarea class="form-control" rows="10" name="comment"></textarea>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label>Status</label>
                    <select class="form-select" name="taskStatus">
                        <option value="">Select status.</option>
                        @foreach (var taskStatus in Model.TaskStatuses)
                        {
                            if (taskStatus == Model.Task.TaskStatus)
                            {
                                <option selected value="@taskStatus.Id">
                                    @taskStatus.Name
                                </option>
                            }
                            else
                            {
                                <option value="@taskStatus.Id">
                                    @taskStatus.Name
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>
                                Assign Person　
                            </label>
                            <select class="form-select" name="assignPerson">
                                <option value="">Select assign person.</option>
                                @foreach (var member in Model.AssignableMembers)
                                {
                                    if (member.Id == Model.Task.AssignedPerson?.Id)
                                    {
                                        <option selected value="@member.Id">@member.User?.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@member.Id">@member.User?.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>
                                Milestone
                            </label>
                            <select class="form-select" name="taskMilestone">
                                <option value="">Select milestone.</option>
                                @foreach (var milestone in Model.TaskMilestones)
                                {
                                    if (milestone.Id == Model.Task.TaskMilestone?.Id)
                                    {
                                        <option selected value="@milestone.Id">@milestone.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@milestone.Id">@milestone.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>
                                Complete Reason
                            </label>
                            <select class="form-select" name="taskCompleteReason">
                                <option value="">Select completion reason.</option>
                                @foreach (var taskCompletionReason in Model.TaskCompletionReasons)
                                {
                                    <option value="@taskCompletionReason.Id">@taskCompletionReason.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label>
                                Start
                            </label>
                            @if (Model.Task.StartFrom > DateTime.MinValue)
                            {
                                <input type="date" name="startFrom" value="@Model.Task.StartFrom?.ToString("yyyy-MM-dd")" class="form-control" />
                            }
                            else
                            {
                                <input type="date" name="startFrom" class="form-control" />
                            }
                        </div>
                        <div class="mb-3">
                            <label>
                                Due
                            </label>
                            @if (Model.Task.EndAt > DateTime.MinValue)
                            {
                                <input type="date" name="endAt" value="@Model.Task.EndAt?.ToString("yyyy-MM-dd")" class="form-control" />
                            }
                            else
                            {
                                <input type="date" name="endAt" class="form-control" />
                            }
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    Plan
                                </label>
                                <input type="number" value="@Model.Task.ExpectedTime" name="plan" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label>
                                    Actual
                                </label>
                                <input type="number" value="@Model.Task.ActualTime" name="actual" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-center pt-3">
            <button type="submit" class="btn btn-primary rounded-0" style="width:200px;">
                <i class="fa-light fa-upload fa-fw"></i>
            </button>
        </div>
    </form>
</div>